{
  "ignore": [
    "dist",
    "coverage",
    "out-tsc",
    "node_modules",
    "package-lock.json",
    ".angular",
    ".tmp",
    "examples/chat-server/node_modules",
    "examples/consumer/node_modules"
  ]
}
